+++
title = "FSH School"
linkTitle = "FSH School"

+++

{{< blocks/cover title="Welcome to FSH School" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-fish ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" target="_blank" href="/FSHOnline/">
		Experiment <i class="fas fa-flask "></i>
	</a>
	<p class="lead mt-5">The place to learn and try FHIR Shorthand</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
FHIR Shorthand (FSH) is a domain-specific language for defining the contents of FHIR Resources and Implementation Guides.
Explore FSH School to get the knowledge you need to get started using FSH.
{{% /blocks/lead %}}


{{< blocks/section color="white">}}
{{% blocks/feature icon="far fa-file-alt" title="Declarative" %}}
FSH allows you to define FHIR profiles in a simple, declarative language.
No more large JSON files or spreadsheets, just human-readable text files
which compile to the FHIR artifacts you need.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Source control ready" %}}
Unlike other tools for profiling FHIR, FSH works seamlessly with source control tools like
GitHub. Maintain a history of changes, track contributions, and maintain agility by using FSH with source control.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-fire" title="State of the art" %}}
The FSH Specification is continuously being improved to give users a better experience. 
Take a look at the official <a href="http://build.fhir.org/ig/HL7/fhir-shorthand/reference.html" target="_blank">FSH specification</a> 
for more information about how FSH can be used
to profile FHIR.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section >}}
{{% quote title="Grahame Grieve" subtitle="FHIR Product Director"%}}
"FSH has legs."
{{% /quote %}}

{{% quote title="Richard Kavanagh" subtitle="Product Manager for Interoperability, Graphnet Health, Board Member HL7 UK and INTEROPen"%}}
"An immensely useful project."
{{% /quote %}}

{{% quote title="Keith Boone" subtitle="Informatics Adept at Audacious Inquiry"%}}
"The ability to create implementation guides, value sets, code systems, any sample resource you might ever want in this simple language is simply fantastic."
{{% /quote %}}

{{% quote title="David Hay" subtitle="\"Hay on FHIR\" blog"%}}
"FSH is a joy."
{{% /quote %}}

{{< /blocks/section >}}
