{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="/fsh-logo.png" class="row col-sm-12 col-md-12 col-lg-12">
    <h2>FHIR Shorthand</h2>
    <p>FHIR Shorthand (FSH) is a domain-specific language for defining FHIR artifacts involved in creation of FHIR Implementation Guides (IG). FSH is provided free-of-charge by Health Level Seven International (HL7); a not-for-profit, ANSI-accredited standards developing organization dedicated to providing a comprehensive framework and related standards for the exchange, integration, sharing, and retrieval of electronic health information that supports clinical practice and the management, delivery and evaluation of health services.
  </div>
  <div class="row col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
    <img src="/fsh-school-logo.png" class="row col-sm-12 col-md-12 col-lg-12">
    <h2>FSH School</h2>
    <p>FSH School is a free resource provided by The MITRE Corporation for learning and applying FHIR Shorthand. FSH School includes FSH Online (a coding playground for FHIR Shorthand complete with example of FSH), FSH Finder (a list of public FSH projects found on GitHub, refreshed daily), as well as documentation and tutorials for running SUSHI and GoFSH (the compiler and decomplier for FSH).
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="/mitre-logo.svg" class="row col-sm-12 col-md-12 col-lg-12">
    <h2>The MITRE Corporation</h2>		
    <p>The MITRE Corporation is a not-for-profit organization that works in the public interest across federal, state and local governments, as well as industry and academia. MITRE operates FFRDCs—federally funded research and development centers. FFRDCs are unique organizations that assist the United States government with scientific research and analysis; development and acquisition; and systems engineering and integration. MITRE also has an independent research program that explores new and expanded uses of technologies to solve sponsors problems.
  </div>
</section>
