{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
  <div class="col-sm-12 col-md-4">
    <img src="/fsh-logo.png" style="display: flex; max-width: 100%; height: auto; max-height: 200px; margin: auto">
    <h2>FHIR Shorthand</h2>
    <p>FHIR Shorthand (FSH) is a domain-specific language for defining FHIR artifacts involved in creation of FHIR Implementation Guides (IG). FSH is provided free-of-charge by Health Level Seven International (HL7); a not-for-profit, ANSI-accredited standards developing organization dedicated to providing a comprehensive framework and related standards for the exchange, integration, sharing, and retrieval of electronic health information that supports clinical practice and the management, delivery and evaluation of health services.
  </div>
  <div class="col-sm-12 col-md-4">
    <img src="/fsh-school-logo.png" style="display: flex; max-width: 100%; height: auto; max-height: 200px; margin: auto">
    <h2>FSH School</h2>
    <p>FSH School is a free resource provided by Health Level Seven International for learning and applying FHIR Shorthand. FSH School includes FSH Online (a coding playground for FHIR Shorthand complete with example of FSH), FSH Finder (a list of public FSH projects found on GitHub, refreshed daily), as well as documentation and tutorials for running SUSHI and GoFSH (the compiler and decomplier for FSH).
  </div>
  <div class="col-sm-12 col-md-4">
    <img src="/hl7-logo-header.png" style="display: flex; max-width: 100%; height: auto; max-height: 200px; margin: auto">
    <h2>About HL7</h2>		
    <p>Founded in 1987, Health Level Seven International (HL7) is a not-for-profit, ANSI-accredited standards developing organization dedicated to providing a comprehensive framework and related standards for the exchange, integration, sharing, and retrieval of electronic health information that supports clinical practice and the management, delivery and evaluation of health services. HL7 is supported by more than 1,600 members from over 50 countries, including 500+ corporate members representing healthcare providers, government stakeholders, payers, pharmaceutical companies, vendors/suppliers, and consulting firms.
  </div>
</section>
